@import url('https://fonts.googleapis.com/css2?family=Laila:wght@500&family=Nunito:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

img{
    user-select: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;

    &::-webkit-scrollbar{
        width: 1rem;
    }
    &::-webkit-scrollbar-track{
        background: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background: #0eb582;
    }
}

section{
    padding: 5rem 10%;
}

.heading-link{
    text-align: center;
    height: 30vh;
    background: url(images/heading-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    /*background: #f0fdfa;
    border: .1rem solid #0eb582;*/

    h3{
        font-size: 3rem;
        color: #444;
    }
    p{
        font-size: 2rem;
        color: #777;

        a{
            color: #0eb582;

            &:hover{
                text-decoration: underline;
            }
        }
    }

}

.heading{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 3.5rem;
    color: #444;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border: .1rem solid #0eb582;
    background: #f0fdfa;
    color: #0eb582;
    cursor: pointer;

    &:hover{
        background: #0eb582;
        color: #fff;
    }
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 10%;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.header .logo{
    margin-right: auto;
    font-size: 2.5rem;
    text-transform: capitalize;
    color: #444;
    font-weight: bolder;
    i{
        color: #0eb582;
    }     
}

.header .navbar{
    position: relative;

    #close-navbar{
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        font-size: 3rem;
        cursor: pointer;
        color: #444;
        display: none;

        &:hover{
            transform: rotate(90deg);
            color: #0eb582;
        }
    }
    a{
        margin-right: 2rem;
        font-size: 2rem;
        text-transform: capitalize;
        color: #444;

        &:hover{
            color: #0eb582;
        }
    }
}

.header .icons div{
    cursor: pointer;
    font-size: 2.5rem;
    color: #444;
    margin-left: 1.5rem;

    &:hover{
        color: #0eb582;
    }
}

#menu-btn{
    display: none;
}

.account-form{
    position: fixed;
    top: 0;
    right: -105%;
    width: 35rem;
    background: #fff;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    justify-content: center;
    height: 100%;
    /*box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);*/
    z-index: 1200;
    padding: 2rem;    
    text-align: center;

    &.active{
        right: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);
    }

    #close-form{
        position: absolute;
        top: 1.5rem;
        right: 2rem;
        font-size: 3rem;
        cursor: pointer;
        color: #444;

        &:hover{
            transform: rotate(90deg);
            color: #0eb582;
        }
    }
    .buttons .btn{
        margin: 0 .5rem;

        &.active{
            background: #0eb582;
            color: #fff;
        }
    }
}

form{
    border: .1rem solid #0eb582;
    padding: 2rem;
    display: none;

    &.active{
        display: block;
    }

    h3{
        font-size: 2.5rem;
        text-transform: uppercase;
        color: #444;
        padding-bottom: .5rem;
    }
    .box{
        width: 100%;
        padding: 1.2rem 1.4rem;
        border: .1rem solid #0eb582;
        font-size: 1.6rem;
        margin: .7rem 0;
    }
    .flex{
        padding: 1rem 0;
        display: flex;
        align-items: center;
        gap: .5rem;

        label{
            font-size: 1.5rem;
            color: #777;
            cursor: pointer;
        }
        a{
            font-size: 1.5rem;
            color: #777;
            margin-left: auto;
            
            &:hover{
                text-decoration: underline;
                color: #0eb582;
            }
        }
    }
    .btn{
        width: 100%;
    }
}

.home{
    padding: 0;

    .slide{
        display: flex;
        align-items: center;
        height: 60rem;
        background-size: cover !important;
        background-position: center !important;

        .content{
            width: 50rem;

            h3{
                font-size: 6rem;
                color: #fff;
            }
            p{
                font-size: 1.6rem;
                color: #eee;
                padding: 1rem 0;
            }            
        }
    }
}

.swiper-pagination-bullet-active{
    background: #0eb582;
}

.subjects{
    .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        gap: 2rem;

        .box{
            padding: 3rem 2rem;
            text-align: center;
            border: .1rem solid #0eb582;
            background: #f0fdfa;
            cursor: pointer;

            &:hover{
                background: #0eb582;

                h3{
                    color: #fff;
                }
                p{
                    color: #eee;
                }
            }

            img{
                height: 10rem;
                margin-bottom: .7rem;
            }

            h3{
                font-size: 1.5rem;
                color: #444;
                padding: .5rem 0;
            }

            p{
                font-size: 1.5rem;
                color: #777;
            }
        }
    }
}

.home-courses{

    .slide{
        text-align: center;
        position: relative;
        width: 30rem;
        background: #f0fdfa;
        overflow: hidden;

        &:hover{
            .content{
                bottom: 0;
            }
        }

        .image{
            padding: .2rem;
            
            img{
                width: 100%;
                margin-bottom: 1.5rem;
            }
            h3{
                font-size: 2rem;
                color: #444;
            }
        }

        .content{
            position: absolute;
            bottom: -100%;
            right: 0;
            left: 0;
            background: #0eb582;
            padding: 2rem 3rem;

            h3{
                font-size: 2rem;
                color: #fff;
            }
            p{
                padding: 1rem 0;
                font-size: 1.5rem;
                color: #eee;
            }

            .btn:hover{
                background: #444;
            }
        }
    }
}

.about{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;

    .images{
        flex: 1 1 40rem;

        img{
            width: 100%;
        }
    }

    .content{
        flex: 1 1 40rem;

        .about-title{
            font-size: 3rem;
            color: #444;
        }
        p{
            font-size: 1.5rem;
            color: #777;
            padding: 1rem 0;
        }
        .icons-container{
            margin-top: 1rem;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
            gap: 2rem;            

            .icons{
                text-align: center;
                border: .1rem solid #0eb582;
                background: #f0fdfa;
                padding: 3rem 2rem;

                img{
                    height: 7rem;
                    margin-bottom: .5rem;
                }
                h3{
                    padding: .5rem 0;
                    font-size: 3rem;
                    color: #444;
                }
                span{
                    font-size: 2rem;
                    color: #777;
                }
            }
        }
    }
}

.teachers{

    .slide{
        text-align: center;
        width: 30rem;

        &:hover{

            .image{

                img{
                    background: #0eb582;  
                }
                .share{
                    bottom: 0;
                }
            }            
        }

        .image{
            position: relative;
            overflow: hidden;

            img{
                background: #f0fdfa;
                width: 100%;
            }
            .share{
                position: absolute;
                bottom: -10rem;
                left: 0;
                right: 0;
                background: rgba(0, 0, 0, .8);
                padding: 2rem;
                
                a{
                    font-size: 3rem;
                    margin: 0 1rem;
                    color: #fff;

                    &:hover{
                        color: #0eb582;
                    }
                }
            }
        }
        .content{
            display: flex;
            padding-top: 1rem;
            align-items: center;
            justify-content: space-between;

            h3{
                font-size: 2rem;
                color: #444;
            }
            span{
                font-size: 1.5rem;
                color: #777;
            }
        }
    }
}

.reviews{

    .slide{
        text-align: center;
        width: 30rem;

        p{
            font-size: 1.5rem;
            color: #777;
            position: relative;
            background: #f0fdfa;
            border: .1rem solid #0eb582;
            margin-bottom: 3rem;
            padding: 2rem;

            &::before{
                content: '';
                position: absolute;
                bottom: -1.2rem;
                left: 50%;
                transform: translateX(-50%) rotate(45deg);
                background: #f0fdfa;
                border-bottom: .1rem solid #0eb582;
                border-right: .1rem solid #0eb582;
                height: 2rem;
                width: 2rem;
            }
        }
        img{
            height: 7rem;
            width: 7rem;
            border-radius: 50%;
        }
        h3{
            font-size: 2.2rem;
            color: #444;
            padding: .5rem 0;
        }
        .stars{
            font-size: 1.2rem;
            color: #0eb582;
        }
    }
}

.courses{

    .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        gap: 2rem;

        .box{

            &:hover .image img{
                transform: scale(1.1);
            }

            &.hide{
                display: none;
            }

            .image{
                height: 25rem;
                overflow: hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
                h3{
                    font-size: 1.5rem;
                    color: #444;
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1.5rem;
                    background: #fff;
                }
            }
            .content{
                padding: 2rem;
                text-align: center;
                border: .1rem solid #0eb582;

                h3{
                    font-size: 2rem;
                    color: #444;
                }
                p{
                    padding: 1rem 0;
                    font-size: 1.5rem;
                    color: #777;
                }
                .icons{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 2rem;
                    padding-top: 2rem;
                    border-top: .1rem solid #0eb582;

                    span{
                        font-size: 1.5rem;
                        color: #444;

                        i{
                            color: #0eb582;
                            padding-right: .5rem;
                        }
                    }
                }
            }
        }
    }
    .load-more{
        margin-top: 2rem;
        text-align: center;
    }
}

.contact{

    .icons-container{
        margin-bottom: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2rem;

        .icons{
            text-align: center;
            padding: 3rem 2rem;
            border: .1rem solid #0eb582;
            background: #f0fdfa;

            i{
               height: 6rem;
               width: 6rem;
               line-height: 6rem;
               font-size: 2rem;
               border-radius: 50%;
               margin-bottom: .5rem;
               color: #fff;
               background: #0eb582; 
            }
            h3{
                font-size: 2rem;
                color: #444;
                padding: .5rem 0;
            }
            p{
                font-size: 1.5rem;
                color: #777;
            }
        }
    }    
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 2rem;

        .image{
            flex: 1 1 40rem;

            img{
                width: 100%;
            }
        }
        .form{
            flex: 1 1 40rem;
            border: .1rem solid #0eb582;
            padding: 2rem;

            h3{
                font-size: 2.5rem;
                color: #444;
                padding-bottom: 1rem;
            }
            .box{
                width: 100%;
                padding: 1.2rem 1.4rem;
                border: .1rem solid #0eb582;
                font-size: 1.6rem;
                margin: .7rem 0;

                &:focus{
                    background: #0eb582;
                    color: #fff;

                    &::placeholder{
                        color: #eee;
                    }
                }
            }
            textarea{
                height: 15rem;
                resize: none;
            }
        }
    }
}

.faq{

    .accordion-container{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: flex-start;

        .accordion{
            flex: 1 1 40rem;
            border: .1rem solid #0eb582;

            &.active{

                .accordion-heading{
                    background: #0eb582;

                    h3{
                        color: #fff;
                    }
                    i{
                        color: #fff;
                        transform: rotate(180deg);
                    }
                }
                .accordion-content{
                    display: block;
                }
            }

            .accordion-heading{
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 1rem;
                cursor: pointer;
                padding: 1.5rem;

                h3{
                    font-size: 2rem;
                    color: #444;
                }
                i{
                    font-size: 2rem;
                    color: #0eb582;
                }
            }
            .accordion-content{
                padding: 1.5rem;
                font-size: 1.5rem;
                color: #777;
                border-top: .1rem solid #0eb582;
                display: none;
            }
        }
    }

}

.footer{
    background: #f0fdfa;

    .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        gap: 2rem;

        .box{

            h3{
                font-size: 2.2rem;
                color: #444;
                padding: 1rem 0;

                i{
                    color: #0eb582;
                    margin-right: .6rem;
                }
            }
            .share{
                margin-top: 1rem;

                a{
                    height: 4.5rem;
                    width: 4.5rem;
                    line-height: 4.5rem;
                    font-size: 1.7rem;
                    background-color: #0eb582;
                    color: #fff;
                    margin-right: .3rem;
                    text-align: center;
                    border-radius: 50%;

                    &:hover{
                        background-color: #444;
                    }
                }
            }
            .link{
                font-size: 1.7rem;
                color: #777;
                padding: .5rem 0;
                display: block;

                &:hover{
                    color: #0eb582;
                    text-decoration: underline;
                }
            }
            p{
                font-size: 1.5rem;
                color: #777;
                padding: 1rem 0;
            }
            .email{
                width: 100%;
                padding: 1.2rem   1.4rem;
                font-size: 1.6rem;
                border: .1rem solid #0eb582;
                margin-bottom: 1rem;
            }
        }
    }
    .credit{
        text-align: center;
        margin-top: 3rem;
        padding-top: 3rem;
        font-size: 2rem;
        color: #444;
        border-top: .1rem solid #0eb582;

        span{
            color: #0eb582;
        }
    }
}

/*Media Queries*/

@media (max-width:1200px){
    .header{
        padding: 2rem 5%;
    }
    section{
        padding: 3rem 5%;
    }
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 5rem 2rem;
    }
}

@media (max-width:768px){
    .header{
        #menu-btn{
            display: inline-block;
        }
        .navbar{
            position: fixed;
            top: 0;
            right: -105%;
            width: 30rem;
            background: #fff;
            height: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            z-index: 1200;

            #close-navbar{
                display: block;
            }

            &.active{
                box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);
                right: 0;
            }

            a{
                display: block;
                margin: 1rem 0;
                text-align: center;
                font-size: 3rem;
            }
        }
    }
    .home .slide .content h3{
        font-size: 3rem;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
    .heading{
        font-size: 3rem;
    }
    .about .content .about-title{
        font-size: 4rem;
    }
}